body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #efefef;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
a,
a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

/* 일기 작성부분*/


textarea {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    min-height: 8rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    background:#FFFFFF;
    border: none;
    border-radius: 1rem;
    outline: none;
    box-shadow:
            18px 18px 30px #D1D9E9,
            -18px -18px 30px #FFFFFF;
    resize: none;
    transition: ease .2s;
    cursor: pointer;
}
textarea::placeholder {
    color: #9fa8da;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#counter{
    background:none;
    border:none;
}
.txsub{
    width:80px;
    height:20px;
}

/*요란한 저장ADD버튼 양식*/
.button_container {
    position: relative;
}


.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #efefef;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #f67280;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* 저장하면 나오는 노래추천 모달 창 */

.page-wrapper {
    width: 100%;
    height: 100%;
    background: url(https://goo.gl/OeVhun) center no-repeat;
    background-size: cover;
}

.blur-it {
    filter: blur(4px);
}

.page-wrapper {
    width: 100%;
    height: 100%;
    background: url(https://goo.gl/OeVhun) center no-repeat;
    background-size: cover;
}

.blur-it {
    filter: blur(4px);
}

a.btn {
    width: 200px;
    padding: 18px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    background: #e2525c;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(239, 239, 239, 0.55);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    height: 450px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
}

.head {
    width: 100%;
    height: 45px;
    padding: 12px 30px;
    overflow: hidden;
    background: #e2525c;
}

.btn-close {
    font-size: 20px;
    display: block;
    float: right;
    color: #fff;
}

/*과거일기부분이지롱:]:]*/
/*과거일기*/
.diary {
    overflow:auto;
    -webkit-tap-highlight-color: transparent;
    margin-top:20px;
    width: 500px;
    height:270px;
    min-height: 8rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 300;
    background:#FFFFFF;
    border: none;
    border-radius: 1rem;
    outline: none;
    box-shadow:
            18px 18px 30px #D1D9E9,
            -18px -18px 30px #FFFFFF;
    resize: none;
    transition: ease .2s;
    cursor: pointer;
}
textarea::placeholder {
    color: #9fa8da;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.time{
    margin-right:20px;

}
pastdiary li {
    border-bottom: 1px solid #ededed;
    display: block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.12em;
    line-height: 39px;
    text-transform: uppercase;
}
